<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelnote1">
    <!-- internet permission required as images are loaded via Glide from an internet url -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- camera, gallery -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="                    TRAVELNOTE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".유튜브.VideoFullScreen"
            android:screenOrientation="landscape" />
        <activity android:name=".유튜브.YoutubeActivity" />
        <activity android:name=".폴더추가하기.NoteActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".공유하기.SharedmodifyActivity" />
        <activity android:name=".폴더추가하기.HomeActivity" />
        <activity android:name=".공유하기.SharedResultActivity" />
        <activity android:name=".공유하기.Shared1Activity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".공유하기.SharedActivity" />
        <activity android:name=".프로필.ProfileEditActivity" />
        <activity android:name=".폴더추가하기.AddActivity" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".폴더추가하기.MainActivity" />
    </application>

</manifest>